<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Trainers</title>
  </head>
  <body>
    <ul>
      <% if (locals.types){ %> <% types.forEach((type)=>{ %>
      <li>
        <ul>
          Type: <%= type.type_name %> <% type.pokemons.forEach((pokemon)=>{ %>
          <li>Pokemon: <%= pokemon.pokemon_name %></li>
          <% }) %>
        </ul>
      </li>
      <% })} %>
    </ul>
  </body>
</html>
