<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Trainers</title>
  </head>
  <body>
    <ul>
      <% if (locals.types){ %> <% types.forEach((type)=>{ %>
      <li>
        <ul>
          Type:
          <a href="/type/<%= type.id %>"><%= type.type_name %></a>
          <% type.pokemons.forEach((pokemon)=>{ %>
          <li>
            Pokemon:
            <a href="/pokemon/<%=pokemon.id %>"><%= pokemon.pokemon_name %></a>
          </li>
          <% }) %>
        </ul>
      </li>
      <% })} %>
      <a href="/type/create"><button>Create Type</button></a>
    </ul>
  </body>
</html>
