<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Types</title>
  </head>
  <body>
    <ul>
      <% if (locals.trainers){ %> <% trainers.forEach((trainer)=>{ %>
      <li>
        <ul>
          Trainer: <%= trainer.trainer_name %> <%
          trainer.pokemons.forEach((pokemon)=>{ %>
          <li>Pokemon: <%= pokemon.pokemon_name %></li>
          <% }) %>
        </ul>
      </li>
      <% })} %>
    </ul>
  </body>
</html>
