<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Type</title>
  </head>
  <body>
    <form action="/type/create" method="post">
      <label for="typeName">Name: </label>
      <input type="text" name="typeName" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
