<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>type</title>
  </head>
  <body>
    <% if (locals.type){ %> <% type.forEach((type)=>{ %>
    <li>Type: <%= type.type_name %></li>
    <% })} %>
  </body>
</html>
